html {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul, ul li {
    list-style: none;
}

input,
button,
textarea,
select {
    margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover  {
    text-decoration: none;
}

img {
    vertical-align: top;
}

img, svg {
    max-width: 100%;
    height: auto;
}

body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-family: 'font', sans-serif;
}