.articleList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    .card{
      margin: 10px 0;
      background-color: beige;
      width: 100%;
      .title {
        font-size: 28px;
        color: var(--primary-text-color);
        padding-bottom: 20px;
      }
      .description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 10px;
        color: black;
        .descriptionTitle {
          font-weight: bolder;
        }
        .date {
          margin-top: 20px;
          color: black;
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  .articleList {
    width: 70%;
  }
}
