.articleList {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    .card{
      width: 600px;
      margin: 10px;
      background-color: beige;
      .title {
        font-size: 28px;
        color: var(--primary-text-color);
        padding-bottom: 20px;
      }
      .description {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
      }
    }
  }
}
